<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>All users</h1>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% allUsers.forEach(function(user){ if(user.id != currentUser.id){%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= user.username %></h4>
                   </div>
                   <p>
                       <a href="/messages/<%= user.id %>" class="btn btn-primary">Chat</a>
                   </p>
                </div>
            </div>
        <% }}); %>
    </div>
</div>

<% include ../partials/footer %>
